.page{
    background-image: url("../../../../public/background/background6.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.new-request {
    background-color: rgba(156, 173, 189, 0.356);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 50px rgba(100, 50, 50, 500.0);
  }
  
  .new-request h2 {
    margin-bottom: 20px;
  }
  
  .new-request .form-group {
    margin-bottom: 20px;
  }
  
  .new-request label {
    font-weight: bold;
  }
  
  .new-request input[type="text"],
  .new-request input[type="date"],
  .new-request textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .new-request textarea {
    height: 100px;
  }
  
  .new-request button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new-request button:hover {
    background-color: #0056b3;
  }
  
  .new-request .message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .new-request .success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .new-request .error {
    background-color: #f8d7da;
    color: #721c24;
  }